<div class="pagination">

    {% if your_contacts.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ your_contacts.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in your_contacts.paginator.page_range %}

        {% if your_contacts.number == num %}
            <span class="btn btn-outline-info mb-4">{{ num }}</span>
        {% elif num > your_contacts.number|add:'-3' and num < your_contacts.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}

    {% endfor %}

    {% if your_contacts.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ your_contacts.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ your_contacts.paginator.num_pages }}">Last</a>
    {% endif %}

</div>